.trolleyContainer {
  background-color: #454545;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  align-items: center;
  color: white;
}

.section {
  width: 80%;
  padding-top: 10vh;
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  margin: 1.5em;
  margin-bottom: 0;
}

.CardCarrito {
  -webkit-box-shadow: 10px 10px 17px -12px rgb(184, 180, 176);
  -moz-box-shadow: 10px 10px 17px -12px rgb(165, 162, 159);
  box-shadow: 10px 10px 17px -12px rgb(126, 124, 123);
  flex-basis: 100%;
  height: fit-content;
  display: flex;
  background-color: #2d2d2d;
}

.CardCarrito div:nth-child(1) {
}

.CardCarrito div:nth-child(2) {
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
  padding: 1.5em;
}

.CardCarrito div:nth-child(3) {
  display: flex;
  justify-content: center;
  flex-basis: 30%;
}

.CardCarrito div:nth-child(5) {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.divStock section {
  display: flex;
}

.divBotonEliminarTodo {
  display: flex;
  margin-bottom: 1em;
}

.divTotalPrecio {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  margin-left: 5px;
}
.totalPrice {
  background-color: rgb(30, 140, 140);
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  padding: 10px;
  font-size: 30px;
}
.priceRooms {
  background-color: rgb(30, 140, 140);
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  padding: 6px;
  font-size: 26px;
}

.button {
  margin: 10px;
  height: 50px;
  display: inline-block;
  border-radius: 7px;
  border: none;
  background: green;
  color: rgb(255, 255, 255);
  font-family: inherit;
  text-align: center;
  font-size: 15px;
  box-shadow: 0px 14px 56px -11px #040404;
  width: 10em;
  padding: 1em;
  transition: all 0.4s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
  color: white;
}

.button span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  color: white;
}

.button:hover {
  background-color: rgb(5, 73, 5);
}

.button:hover span:after {
  opacity: 4;
  right: 0;
}

.img {
  width: 250px;
  height: 250px;
}

.botonEliminar {
  font-size: 18px;
  background-color: rgb(233, 107, 107);
  color: white;
  border-radius: 10px;
  padding: 10px;
  border: none;
  -webkit-box-shadow: 4px 6px 11px 1px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 4px 6px 11px 1px rgba(0, 0, 0, 0.51);
  box-shadow: 4px 6px 11px 1px rgba(0, 0, 0, 0.51);
  margin: 10px;
  height: 50px;
  width: 200px;
}

.botonEliminar:hover {
  background-color: red;
}

.BotonEliminarCarrito {
  background-color: rgb(231, 87, 87);
  color: white;
  border-radius: 5px;
  padding: 5px;
  width: 30px;
}

.BotonEliminarCarrito:hover {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
}

.botonCount {
  width: 40px;
  background-color: rgb(30, 140, 140);
  color: white;
  font-size: 25px;
  border-radius: 5px;
}

.spanCount {
  text-align: center;
  padding: 10px;
  color: whitesmoke;
  /* background-color: rgb(210, 201, 201); */
  width: 40px;
}

.divCalendario {
  width: 50%;
  display: flex;
  justify-content: start;
  margin: 10px;
}

.divStock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divTiempo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 576px) {
  .trolleyContainer {
    margin-top: 0;
  }
  .CardCarrito {
    flex-direction: column;
    margin-top: 1em;
  }
  .divBotonEliminarTodo {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.BotonEliminarCarrito {
  background-color: rgb(231, 87, 87);
  color: white;
  border-radius: 5px;
  padding: 5px;
  width: 30px;
}
