.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
}

.table {
  width: 100%;
  margin: 5px 0;
}

.select {
  background-color: #e56910;
  appearance: none;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  border: none;
  margin: 5px;
  padding: 0.5rem;
}

.td {
  padding: 2px 0;
  width: 12px;
}

.checkbox_btn {
  display: block;
  position: relative;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button {
  width: 100px;
  height: 55px;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #e56910;
  color: #fff;
  cursor: pointer;
  margin: 10px;
}

.checkbox_btn .inputServices {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox_btn label {
  cursor: pointer;
  font-size: 14px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1.6px solid black;
  transition: 0.2s linear;
}

.checkbox_btn .inputServices:checked ~ .checkmark {
  background-color: transparent;
}

.checkmark:after {
  content: "";
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  top: 40%;
  width: 10px;
  height: 14px;
  border: 2px solid #e56910;
  filter: drop-shadow(0px 0px 10px #e56910);
  border-width: 0 2.5px 2.5px 0;
  transition: 0.2s linear;
  transform: translate(-50%, -50%) rotate(-90deg) scale(0.2);
  -webkit-filter: drop-shadow(0px 0px 10px #e56910);
}

.checkbox_btn .inputServices:checked ~ .checkmark:after {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%) rotate(0deg) scale(1);
  animation: pulse 1s ease-in;
}

.checkbox_btn .inputServices:checked ~ .checkmark {
  transform: rotate(45deg);
  border: none;
}

@keyframes pulse {
  0%,
  100% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }

  50% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1.6);
  }
}

.inputSearch {
  width: 100%;
  appearance: none;
  color: white;
  border-radius: 0.5rem;
  opacity: 0.8;
  width: 100%;
  border: none;
  margin: 5px;
  padding: 0.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.616);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
}
.inputSearch::placeholder {
  color: black;
  opacity: 1;
}
/* Estilos para el contenedor del DatePicker */
.custom-datepicker {
  position: relative;
  display: inline-block;
}

/* Estilos para el input del DatePicker */
.custom-datepicker input {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

/* Estilos para el ícono del DatePicker */
.custom-datepicker .react-datepicker__input-container {
  position: relative;
}

.custom-datepicker .react-datepicker__input-container::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url("calendar-icon.png"); /* Reemplaza con la ruta de tu ícono de calendario */
  background-size: cover;
}

/* Estilos para el calendario emergente */
.custom-datepicker .react-datepicker {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  z-index: 9999;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.custom-datepicker .react-datepicker__header {
  background-color: #f2f2f2;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.custom-datepicker .react-datepicker__month-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-datepicker .react-datepicker__day-names {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.custom-datepicker .react-datepicker__day-names div {
  width: 30px;
  text-align: center;
}

.custom-datepicker .react-datepicker__month {
  margin: 0 10px;
}

.custom-datepicker .react-datepicker__day {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-datepicker .react-datepicker__day--selected {
  background-color: #007bff;
  color: #fff;
}

.custom-datepicker .react-datepicker__day--keyboard-selected {
  background-color: #007bff;
  color: #fff;
}

.custom-datepicker .react-datepicker__day--today {
  font-weight: bold;
}

.custom-datepicker .react-datepicker__day:hover {
  background-color: #f2f2f2;
}

.Checks {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  width: 100%;
  margin-bottom: 1.5em 0;
  color: white;
}
.che {
  background-color: red;
}
/* @media (max-width: 1200px) {
  .form {
    width: 240px;
  }
  .table {
    width: 50%;
    margin: 5px 0;
  }
} */
