.section h3 {
  width: 100%;
}

.full {
  height: 10rem;
}

.imgRating {
  width: 40px;
  height: 40px;
}

.imgFav {
  width: 100px;
  height: 100px;
}

.DivFav {
  margin: 30px;
  padding: 10px 20px;
  width: fit-content;
  height: fit-content;
}
